* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v62_1243 {
  width: 100%;
  height: 5085px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v62_1286 {
  width: 100%;
  height: 680px;
  background: rgba(236,241,250,1);
  opacity: 1;
  position: absolute;
  top: 992px;
  left: 1px;
  overflow: hidden;
}
.v62_1288 {
  width: 100%;
  height: 992px;
  background: rgba(21,28,84,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 1px;
  overflow: hidden;
}
.v62_1289 {
  width: 597px;
  height: 725px;
  background: url("../images/v62_1289.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 164px;
  left: 738px;
  overflow: hidden;
}
.v62_1290 {
  width: 100%;
  height: 646px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1672px;
  left: 0px;
  overflow: hidden;
}
.v62_1292 {
  width: 370px;
  color: rgba(19,38,129,1);
  position: absolute;
  top: 3252px;
  left: 221px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v62_1293 {
  width: 682px;
  color: url("../images/v62_1293.png");
  position: absolute;
  top: 4214px;
  left: 427px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v62_1312 {
  width: 423px;
  color: rgba(129,130,132,1);
  position: absolute;
  top: 3390px;
  left: 221px;
  font-family: Kanit;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v62_1313 {
  width: 560px;
  color: rgba(129,130,132,1);
  position: absolute;
  top: 3856px;
  left: 892px;
  font-family: Kanit;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v62_1314 {
  width: 920px;
  color: rgba(37,52,112,1);
  position: absolute;
  top: 4286px;
  left: 308px;
  font-family: Kanit;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: center;
}
.v62_1315 {
  width: 535px;
  color: rgba(21,28,84,1);
  position: absolute;
  top: 1186px;
  left: 892px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v62_1316 {
  width: 352px;
  color: url("../images/v62_1316.png");
  position: absolute;
  top: 1448px;
  left: 892px;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v62_1317 {
  width: 352px;
  color: url("../images/v62_1317.png");
  position: absolute;
  top: 4459px;
  left: 592px;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v62_1318 {
  width: 785px;
  color: url("../images/v62_1318.png");
  position: absolute;
  top: 438px;
  left: 224px;
  opacity: 1;
  text-align: left;
}
.v62_1320 {
  width: 382px;
  color: url("../images/v62_1320.png");
  position: absolute;
  top: 1780px;
  left: 577px;
  font-size: 42px;
  opacity: 1;
  text-align: center;
}
.v62_1327 {
  width: 136px;
  height: 42px;
  background: url("../images/v62_1327.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 44px;
  left: 224px;
  overflow: hidden;
}
.v62_1419 {
  width: 100%;
  height: 429px;
  background: url("../images/v62_1419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2318px;
  left: 1px;
  overflow: hidden;
}
.v62_1344 {
  width: 767px;
  color: url("../images/v62_1344.png");
  position: absolute;
  top: 2425px;
  left: 222px;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v62_1347 {
  width: 294px;
  color: rgba(25,34,88,1);
  position: absolute;
  top: 2156px;
  left: 104px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v62_1348 {
  width: 277px;
  color: rgba(25,34,88,1);
  position: absolute;
  top: 2156px;
  left: 461px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v62_1349 {
  width: 264px;
  color: rgba(25,34,88,1);
  position: absolute;
  top: 2156px;
  left: 804px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.v62_1350 {
  width: 237px;
  color: rgba(25,34,88,1);
  position: absolute;
  top: 2156px;
  left: 1162px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 28px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v62_1354 {
  width: 483px;
  color: rgba(19,38,129,1);
  position: absolute;
  top: 2882px;
  left: 222px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v62_1355 {
  width: 479px;
  color: rgba(129,130,132,1);
  position: absolute;
  top: 3022px;
  left: 222px;
  font-family: Kanit;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v62_1359 {
  width: 487px;
  color: rgba(19,38,129,1);
  position: absolute;
  top: 3776px;
  left: 892px;
  font-family: Kanit;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v62_1360 {
  width: 320px;
  height: 270px;
  background: url("../images/v62_1360.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1875px;
  left: 90px;
  overflow: hidden;
}
.v62_1361 {
  width: 320px;
  height: 270px;
  background: url("../images/v62_1361.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1875px;
  left: 430px;
  overflow: hidden;
}
.v62_1362 {
  width: 320px;
  height: 270px;
  background: url("../images/v62_1362.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1875px;
  left: 776px;
  overflow: hidden;
}
.v62_1363 {
  width: 648px;
  color: rgba(19,38,129,1);
  position: absolute;
  top: 2580px;
  left: 222px;
  font-family: Kanit;
  font-weight: Light;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v62_1364 {
  width: 341px;
  height: 287px;
  background: url("../images/v62_1364.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1852px;
  left: 1117px;
  overflow: hidden;
}
.v62_1369 {
  width: 66px;
  height: 22px;
  background: url("../images/v62_1369.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1139px;
  left: 892px;
  overflow: hidden;
}
.v62_1377 {
  width: 90px;
  height: 30px;
  background: url("../images/v62_1377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 358px;
  left: 222px;
  overflow: hidden;
}
.v62_1378 {
  width: 100px;
  height: 100px;
  background: url("../images/v62_1378.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5559px;
  left: 1474px;
  overflow: hidden;
}
.v62_1380 {
  width: 54px;
  height: 18px;
  background: url("../images/v62_1380.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2840px;
  left: 222px;
  overflow: hidden;
}
.v62_1381 {
  width: 54px;
  height: 18px;
  background: url("../images/v62_1381.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3230px;
  left: 222px;
  overflow: hidden;
}
.v62_1382 {
  width: 54px;
  height: 18px;
  background: url("../images/v62_1382.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3746px;
  left: 892px;
  overflow: hidden;
}
.v88_1626 {
  width: 535px;
  height: 472px;
  background: url("../images/v88_1626.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3637px;
  left: 221px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v72_1649 {
  width: 502px;
  height: 705px;
  background: url("../images/v72_1649.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 967px;
  left: 248px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v88_1625 {
  width: 535px;
  height: 473px;
  background: url("../images/v88_1625.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2948px;
  left: 781px;
  overflow: hidden;
}
.name {
  color: #fff;
}
